<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div class="card">
      <div class="card-body bg-info" *ngIf="!mostrarFrase">
        <p class="card-text">No hay contenido disponible</p>
      </div>
      <div class="card-body bg-info" *ngIf="mostrarFrase">
        <h5 class="card-title">{{frase.autor}}</h5>
        <p class="card-text">{{frase.mensaje}}</p>
      </div>
      <div class="card-body text-center">
        <button (click)="mostrarFrase = !mostrarFrase" class="btn btn-primary">Mostrar/Ocultar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <h1>*ngFor</h1>
    <hr>
    <div class="card" style="">
      <div class="card-header">
        Personajes
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{i+1}} - {{personaje}}</li>
      </ul>
    </div>
  </div>
</div>
